.counter-display {
    position: relative;
    padding: 20px;
    gap: 10px;
    width: 62px;
    height: 60px;    
}

.counter-display__counter {
    background: url("../../../assets/img/counter-icon.svg");
    position: absolute;
    width: 17.4px;
    height: 17.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-display__counter_text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
    color: rgba(255, 255, 255, 1);
}

.counter__section {
    cursor: pointer;
    width: fit-content;
}