.title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    color: rgba(131, 131, 131, 1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.list {
    width: 1110px;
    
}

.section_alignment{
    margin-top: -13px;
}